<div class="containershow">
<div class="row my-5">
<div class="col-lg-6">
<img src="<%= @recipe.image %>" class="image-recipe" alt="photo">
</div>
<div class="col-lg-6 mt-5">
<h1><%= @recipe.title %></h1>
<p class="mt-5">
<strong>Recette:</strong>
<%= @recipe.description %>
</p>
</div>
</div>
</div>





<p style="color: green"><%= notice %></p>




<div class="col-4">
  <%= link_to "Modifier la recette", edit_recipe_path(@recipe) , class: 'btn btn-warning rounded-pill btn-block my-2'%>
  <%= link_to "Retourner à l'accueil", recipes_path , class: 'btn btn-primary rounded-pill btn-block my-2' %>
  <%= button_to "Retirer la recette", @recipe, method: :delete , class: 'btn btn-danger rounded-pill btn-block my-2' %>
</div>

