<!DOCTYPE html>
<html>
  <head>
    <title>Recetteapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light mb-5" style="background-color:#FAE5C1;">
      <div class="container" class="my-5">
        <a class="navbar-brand" href="#" style="color:#482815;">Japoroco</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/" style="color:#482815;">Accueil</a>
            </li>
            <li class="nav-item">
              <%= link_to "Créer une recette", new_recipe_path, class: 'nav-link' %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="py-5 mt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h5 class="footerjapo">Japoroco</h5>
          </div>
          <div class="col-md-4">
            <h5>Contact</h5>
            <p>
              06 66 00 99 90<br>
              12 rue Japoroco
            </p>
          </div>
          <div class="col-md-4">
            <h5>Mentions légales</h5>
            <p>Conditions d'utilisation <br>
            Adresse</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
